[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/matchem"]
	path = bundle/matchem
	url = https://github.com/ervandew/matchem.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/tlvince/ZoomWin.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = https://github.com/molok/vim-scratch.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-restore-cursor"]
	path = bundle/vim-restore-cursor
	url = https://github.com/pbrisbin/vim-restore-cursor.git
[submodule "bundle/vim-mkdir"]
	path = bundle/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-addon-local-vimrc"]
	path = bundle/vim-addon-local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/vim-jsdoc"]
	path = bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-snippets-tlvince"]
	path = bundle/vim-snippets-tlvince
	url = https://github.com/tlvince/vim-snippets-tlvince.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-auto-commit"]
	path = bundle/vim-auto-commit
	url = https://github.com/tlvince/vim-auto-commit.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-sneak"]
	path = bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-prosession"]
	path = bundle/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "bundle/vim-velocity"]
	path = bundle/vim-velocity
	url = git@github.com:lepture/vim-velocity.git
[submodule "bundle/vim-markdown-toc"]
	path = bundle/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
[submodule "bundle/suda.vim"]
	path = bundle/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
