[submodule "bundle/securemodelines"]
	path = bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/compiler-python"]
	path = bundle/compiler-python
	url = https://github.com/tlvince/vim-compiler-python
[submodule "bundle/compiler-occam-pi"]
	path = bundle/compiler-occam-pi
	url = https://github.com/tlvince/vim-compiler-occam-pi
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/matchem"]
	path = bundle/matchem
	url = https://github.com/ervandew/matchem.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/vim-markdownfootnotes"]
	path = bundle/vim-markdownfootnotes
	url = https://github.com/vim-pandoc/vim-markdownfootnotes.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-bad-whitespace"]
	path = bundle/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "bundle/vim-ledger"]
	path = bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/blade.vim"]
	path = bundle/blade.vim
	url = https://github.com/johnhamelink/blade.vim.git
[submodule "bundle/phpfolding.vim"]
	path = bundle/phpfolding.vim
	url = https://github.com/vim-scripts/phpfolding.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/tlvince/ZoomWin.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = https://github.com/molok/vim-scratch.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-restore-cursor"]
	path = bundle/vim-restore-cursor
	url = https://github.com/pbrisbin/vim-restore-cursor.git
[submodule "bundle/vim-mkdir"]
	path = bundle/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "bundle/funcoo.vim"]
	path = bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
