[submodule "bundle/securemodelines"]
	path = bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/colour-solarized"]
	path = bundle/colour-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colour-zenburn"]
	path = bundle/colour-zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "bundle/colour-molokai"]
	path = bundle/colour-molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/colour-pyte"]
	path = bundle/colour-pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/compiler-python"]
	path = bundle/compiler-python
	url = https://github.com/tlvince/vim-compiler-python
[submodule "bundle/compiler-occam-pi"]
	path = bundle/compiler-occam-pi
	url = https://github.com/tlvince/vim-compiler-occam-pi
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/cakephp"]
	path = bundle/cakephp
	url = https://github.com/violetyk/cake.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/tlvince/snipmate-snippets.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/matchem"]
	path = bundle/matchem
	url = https://github.com/ervandew/matchem.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/neocomplcache-snippets-complete"]
	path = bundle/neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/vim-markdownfootnotes"]
	path = bundle/vim-markdownfootnotes
	url = https://github.com/vim-pandoc/vim-markdownfootnotes.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
